.hero {
  text-align: center;
  padding: 20px;
  min-height: 100vh;
  background-color: black;
 display: flex;
 justify-content: center;
    align-items: center;
    flex-wrap: flex;
}

.hero h1 {
  color: blue;
  margin-bottom: 10px;
}

.hero p {
  color: #666;
  margin-bottom: 20px;
}

.image-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

.image-container img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}