.nav{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.hi{
    background-color: black;
    color: purple;
    display: block;
}

.logo{
    /* background-color: red; */
    width: 25%;
}
.links{
    /* background-color: green; */
    width: 25%;
    display: flex;
    justify-content: space-between;
}